<!DOCTYPE>
<html lang="en">
	<head>
		<%= stylesheet_link_tag "/css/bootstrap.min.css", :media => "all" %>
		<%= stylesheet_link_tag "/css/font-awesome.min.css", :media => "all"%>
		<%= stylesheet_link_tag "/css/normal.css", :media => "all"%>
		<%= stylesheet_link_tag "/css/chosen.css", :media => "all"%>
		<%= stylesheet_link_tag "/css/stockapp.css", :media => "all"%>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<title><%= 'Fuxi Revenge' %></title>

		<meta charset="utf-8" />	
	</head>
	<body>
		<%= yield %>
	</body>
	<%= javascript_script_tag "http://code.jquery.com/jquery-latest.min.js" %>
	<%= javascript_script_tag "/js/bootstrap.min.js" %>
	<%= javascript_script_tag "/js/chosen.jquery.js" %>
	<%= javascript_script_tag "/js/jquery.rdfquery.core-1.0.js" %>
	<%= javascript_script_tag "/js/jquery.rdfquery.rdfa-1.0.js" %>
	<%= javascript_script_tag "/js/jquery.rdfquery.rules-1.0.js" %>
	<%= javascript_script_tag "/js/stockapp.js" %>
	<%= javascript_script_tag "/js/app.js" %>
</html>