<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
	<head>
		<%= stylesheet_link_tag "/css/bootstrap.min.css", :media => "all" %>
		<%= stylesheet_link_tag "/css/font-awesome.min.css", :media => "all"%>
		<%= stylesheet_link_tag "/css/normal.css", :media => "all"%>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<title><%= SITENAME %></title>

		<meta charset="utf-8" />	
	</head>
	<body>
		<%= yield %>
	</body>
	<%= javascript_script_tag "/js/jquery.min.js" %>
	<%= javascript_script_tag "/js/bootstrap.min.js" %>
	<%= javascript_script_tag "/js/app.js" %>
</html>