<!DOCTYPE html>
<html lang="en">
	<head>
		<%= stylesheet_link_tag "/css/bootstrap.min.css", :media => "all" %>
		<%= stylesheet_link_tag "/css/font-awesome.min.css", :media => "all"%>
		<%= stylesheet_link_tag "/css/chosen.css", :media => "all"%>
		<%= stylesheet_link_tag "/css/stockapp.css", :media => "all"%>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes" />

		<title><%= 'Fuxi Revenge' %></title>

		<meta charset="utf-8" />	
	</head>
	<body>
		<div class="container-fluid">
			<%= yield %>
		</div>
	</body>
	<%= javascript_script_tag "/js/jquery.min.js" %>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4Ri_MFfB--p1sur4yWcFmLOwQkqecEzI&sensor=false"></script>

	<%= javascript_script_tag "/js/bootstrap.min.js" %>
	<%= javascript_script_tag "/js/chosen.jquery.js" %>
	<%= javascript_script_tag "/js/jquery.rdfquery.core-1.0.js" %>
	<%= javascript_script_tag "/js/jquery.rdfquery.rdfa-1.0.js" %>
	<%= javascript_script_tag "/js/jquery.rdfquery.rules-1.0.js" %>
	<%= javascript_script_tag "https://maps.googleapis.com/maps/api/js?key=#{GOOGLE_API_KEY}&sensor=false"%>
	<% javascript_script_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false" %>
	<%= javascript_script_tag "/js/stockapp.js" %>
	
</html>